@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --mainColor: #7a7777;
  --mainColorDarker: #686666;
  --grayColor: #e2e1e1;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

textarea {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 6px;
}

body.dark-mode * {
  background-color: #222;
  color: #fff;
}

.hide {
  display: none;
}

.mainBtn {
  background-color: var(--mainColor);
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}

.mainBtn:hover {
  background-color: var(--mainColorDarker);
}

.secondaryBtn {
  border: 2px solid var(--mainColor);
  background-color: transparent;
  font-size: 17px;
  font-weight: 500;
  padding: 3px 13px;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}

.secondaryBtn:hover {
  background-color: var(--mainColorDarker);
  color: #fff;
}

.smallSecondaryBtn {
  background-color: transparent;
  font-size: 14px;
  font-weight: 500;
  padding: 1px 2px;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}

.smallSecondaryBtn:hover {
  background-color: var(--mainColorDarker);
  color: #fff;
}

.mainInput {
  border: 2px solid var(--mainColorDarker);
  border-radius: 4px;
  padding: 3px 5px;
  font-weight: 500;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.aside {
  background-color: var(--grayColor);
  padding: 10px 15px;
  transition: all 0.3s ease 0s;
  width: 60px;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu__item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  font-size: 18px;
  background-color: transparent;
}

.menu__item_text {
  font-weight: 500;
  display: none;
}

.editLabels__item_title {
  position: relative;
  padding: 2px 4px;
}

.editLabels__title::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 6px;
  height: 8px;
  width: 2px;
  background-color: #000;
  transform: rotate(45deg);
}
.editLabels__title::before {
  content: "";
  position: absolute;
  right: -15px;
  top: 6px;
  height: 8px;
  width: 2px;
  background-color: #000;
  transform: rotate(-45deg);
}

.editLabels__item {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editLabels__actions {
  display: flex;
  gap: 5px;
}

.editLabels__item_title {
  font-weight: 500;
}

.editLabels__delete,
.editLabels__edit {
  background-color: transparent;
  padding: 1px;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.editLabels__delete:hover {
  background-color: rgba(255, 0, 0, 0.3);
}
.editLabels__edit:hover {
  background-color: rgba(0, 0, 0, 0.151);
}

.editLabels__delete svg,
.editLabels__edit svg {
  width: 18px;
  height: 18px;
}

.notes__title {
  margin-bottom: 10px;
}

.notes__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.note__item {
  border: 1px solid lightgray;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  width: 170px;
  overflow: hidden;
  user-select: none;
}

.note__item:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.note__title {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.currNote {
  border: 2px solid #fff;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 7%;
  transform: translateX(-50%);
  width: 40%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 4px;
  display: none;
  z-index: 1000;
}

.currNote.openNote {
  display: flex;
}

.currNote.openNote .overlay {
  display: block;
}

@media (max-width: 767px) {
  .currNote {
    width: 90%;
  }
}

.currNote__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

@media (max-width: 479px) {
  .currNote__actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .currNote__label {
    order: 2;
  }

  .currNote__delete {
    order: 3;
  }
}

.currNote__label {
  border: 1px solid var(--mainColorDarker);
  border-radius: 2px;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  padding: 0;
}

.currNote__delete {
  width: 32px;
  height: 32px;
  background-color: var(--grayColor);
  padding: 3px;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.currNote__delete svg:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.lastEditedTime {
  font-weight: 600;
  font-size: 14px;
}

.currNote__labels {
  display: flex;
  align-items: center;
  gap: 4px;
}

.label {
  position: relative;
  cursor: pointer;
  color: var(--mainColorDarker);
}

.label__body {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 3px 5px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}

.label__add {
  font-size: 24px;
  color: var(--mainColorDarker);
  padding: 0 6px;
  border-radius: 6px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.label__add:hover {
  background-color: var(--grayColor);
}

.currNote__title {
  font-size: 20px;
  padding: 5px;
  font-weight: 500;
}

.currNote__body {
  font-weight: 500;
  font-size: 16px;
  padding: 4px;
  width: 100%;
  height: 100%;
  resize: none;
  overflow: auto;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 900;
}

.overlay.active {
  display: block;
}

.search {
  border: 1px solid var(--mainColorDarker);
  border-radius: 2px;
  margin: 10px;
  padding: 6px 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search__labels {
  display: flex;
  align-items: center;
  border: none;
  padding: 2px;
  font-size: 18px;
  font-weight: 500;
  appearance: none;
}

.labels__select {
  border: none;
  font-weight: 500;
  font-size: 16px;
  appearance: none;
  padding: 3px 12px;
}

#toggleSideBarIcon {
  transition: all 0.3s ease 0s;
}
